.sample-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: 5vh;
  &:hover {
    box-shadow: rgba(128, 128, 128, 0.246) 3px 3px 3px;
  }
  .box {
    height: 5vh;
    width: 12.5%;
    border-bottom: solid rgba(128, 128, 128, 0.287) 1px;
    display: flex;
    align-items: center;
    .audioPlayer__play-icon {
      color: red;
      background: none;
    }
  }
  .sample {
    font-size: 0.7rem;
  }
  .button {
    background: none;
    border: none;
    &:hover{
        cursor: pointer;
    }
  }
}
