@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap");
.sample-pack-dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 91vw;
  margin-left: 9vw;
  height: 94vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 6vh;
  background-color: white;
}

@media (max-width: 415px) {
  .sample-pack-dashboard {
    width: 100vw;
    margin: auto;
  }
}

.sample-pack-dashboard .carousel-container {
  width: 100%;
  height: 22vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 415px) {
  .sample-pack-dashboard .carousel-container {
    width: 100%;
  }
}

.sample-pack-dashboard .carousel-container .carousel {
  width: 65%;
  background-color: gray;
  height: 22vh;
  margin: 0px auto;
  z-index: 1;
  border-bottom-left-radius: 18px;
  overflow: hidden;
  border-bottom-right-radius: 18px;
}

@media (max-width: 415px) {
  .sample-pack-dashboard .carousel-container .carousel {
    width: 100%;
    border-radius: 0;
  }
}

.sample-pack-dashboard .sample-pack-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 30px;
  background-color: rgba(36, 36, 36, 0.376);
  height: 2px;
  border-radius: 4px;
  margin: 20px auto;
  width: 65%;
}

@media (max-width: 415px) {
  .sample-pack-dashboard .sample-pack-nav {
    display: none;
  }
}

.sample-pack-dashboard .sample-pack-nav .row-title {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.sample-pack-dashboard .content-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 180px;
  width: 50%;
}

@media (max-width: 415px) {
  .sample-pack-dashboard .content-display {
    width: 100%;
    display: none;
  }
}

.sample-pack-dashboard .content-display .sample-pack-carousel {
  width: 85%;
  height: 300px;
  margin: 0 auto;
  z-index: 1;
}

.sample-pack-dashboard .content-display .sample-pack-carousel .sample-pack-backdrop .sample-pack-container {
  height: 240px;
  width: 170px;
  margin: 10px 1px;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  -webkit-box-shadow: rgba(0, 0, 0, 0.075) 4px 4px 7px;
          box-shadow: rgba(0, 0, 0, 0.075) 4px 4px 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: rgba(233, 233, 233, 0.363);
}

.sample-pack-dashboard .content-display .sample-pack-carousel .sample-pack-backdrop .sample-pack-container:hover {
  background-color: rgba(233, 233, 233, 0.602);
}

.sample-pack-dashboard .content-display .sample-pack-carousel .sample-pack-backdrop .sample-pack-container .img-container {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sample-pack-dashboard .content-display .sample-pack-carousel .sample-pack-backdrop .sample-pack-container .img-container .sample-pack-img {
  width: 7vw;
  height: 12vh;
  border-radius: 4px;
  margin: auto;
}

.sample-pack-dashboard .content-display .sample-pack-carousel .sample-pack-backdrop .sample-pack-container .sample-pack-name-container {
  width: 100px;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sample-pack-dashboard .content-display .sample-pack-carousel .sample-pack-backdrop .sample-pack-container .sample-pack-name-container .sample-pack-name {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.554);
  margin: auto;
}

.sample-pack-dashboard .content-display .sample-pack-carousel .sample-pack-backdrop .sample-pack-container .sample-pack-name-container .sample-pack-name:hover {
  cursor: pointer;
  -webkit-text-decoration: underline rgba(0, 0, 0, 0.137);
          text-decoration: underline rgba(0, 0, 0, 0.137);
}

.sample-pack-dashboard .content-display .sample-pack-carousel-two {
  width: 85%;
  z-index: 1;
  height: 300px;
  margin: 60px auto;
}

.sample-pack-dashboard .content-display .sample-pack-carousel-two h3,
.sample-pack-dashboard .content-display .sample-pack-carousel-two p {
  margin: 4px auto;
}

.sample-pack-dashboard .content-display .sample-pack-carousel-two .sample-pack-backdrop .sample-pack-container {
  height: 240px;
  width: 170px;
  margin: 10px 10px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.075) 4px 4px 7px;
          box-shadow: rgba(0, 0, 0, 0.075) 4px 4px 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: rgba(233, 233, 233, 0.363);
}

.sample-pack-dashboard .content-display .sample-pack-carousel-two .sample-pack-backdrop .sample-pack-container:hover {
  background-color: rgba(233, 233, 233, 0.602);
}

.sample-pack-dashboard .content-display .sample-pack-carousel-two .sample-pack-backdrop .sample-pack-container .img-container {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sample-pack-dashboard .content-display .sample-pack-carousel-two .sample-pack-backdrop .sample-pack-container .img-container .sample-pack-img {
  width: 7vw;
  height: 12vh;
  border-radius: 4px;
  margin: auto;
}

.sample-pack-dashboard .content-display .sample-pack-carousel-two .sample-pack-backdrop .sample-pack-container .sample-pack-name-container {
  width: 100px;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto", sans-serif;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sample-pack-dashboard .content-display .sample-pack-carousel-two .sample-pack-backdrop .sample-pack-container .sample-pack-name-container .sample-pack-name {
  font-size: 1rem;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.554);
  margin: auto;
}

.sample-pack-dashboard .content-display .sample-pack-carousel-two .sample-pack-backdrop .sample-pack-container .sample-pack-name-container .sample-pack-name:hover {
  cursor: pointer;
  -webkit-text-decoration: underline rgba(0, 0, 0, 0.137);
          text-decoration: underline rgba(0, 0, 0, 0.137);
}

.sample-pack-dashboard .slogan-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sample-pack-dashboard .slogan-container .slogan {
  font-family: 'Montserrat Subrayada', sans-serif;
  margin-left: 7px;
}

.sample-pack-dashboard .right-sidebar {
  width: 30%;
}

@media (max-width: 415px) {
  .sample-pack-dashboard .right-sidebar {
    width: 100%;
  }
}

.sample-pack-dashboard .right-sidebar .recent-packs-title {
  width: 40%;
  margin-left: 50px;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 415px) {
  .sample-pack-dashboard .right-sidebar .recent-packs-title {
    margin: 20px auto;
    width: 100%;
    text-align: center;
  }
}

.sample-pack-dashboard .right-sidebar .recent-packs-list {
  height: 40vh;
  border: rgba(0, 0, 0, 0.157) 1px solid;
  border-radius: 10px;
  width: 230px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.068) 4px 4px 6px;
          box-shadow: rgba(0, 0, 0, 0.068) 4px 4px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 300px 0 40px;
}

@media (max-width: 415px) {
  .sample-pack-dashboard .right-sidebar .recent-packs-list {
    width: 80%;
    height: 40vh;
    margin: auto;
  }
}

.sample-pack-dashboard .right-sidebar .recent-packs-list .list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.226);
  -webkit-box-shadow: rgba(114, 114, 114, 0.061) 4px 4px 6px;
          box-shadow: rgba(114, 114, 114, 0.061) 4px 4px 6px;
  height: 80px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sample-pack-dashboard .right-sidebar .recent-packs-list .list-container:nth-child(even) {
  background-color: rgba(233, 233, 233, 0.13);
}

.sample-pack-dashboard .right-sidebar .recent-packs-list .list-container:hover {
  background-color: rgba(202, 202, 202, 0.191);
}

.sample-pack-dashboard .right-sidebar .recent-packs-list .list-container img {
  height: 40px;
  margin: auto;
  width: 40px;
}

.sample-pack-dashboard .right-sidebar .recent-packs-list .list-container .sample-pack-name {
  text-decoration: none;
  color: black;
}

.sample-pack-dashboard .right-sidebar .recent-packs-list .list-container .sample-pack-name:hover {
  text-decoration: underline;
}

.sample-pack-dashboard .right-sidebar .recent-packs-list .list-container h3 {
  font-size: 0.7rem;
  width: 60%;
  font-family: "Roboto", sans-serif;
}

.sample-pack-dashboard .right-sidebar .recent-packs-list .list-container h4 {
  font-size: 0.5rem;
  width: 50%;
  font-family: "Roboto", sans-serif;
}

.sample-pack-dashboard .right-sidebar .recent-packs-list .list-container .recents-img-container {
  width: 40px;
  height: 40px;
  margin: auto;
}

.sample-pack-dashboard .right-sidebar .recent-packs-list .list-container .recents-name-container,
.sample-pack-dashboard .right-sidebar .recent-packs-list .list-container .recents-author-container {
  height: 100%;
  width: 30%;
  margin: auto;
}
/*# sourceMappingURL=SamplePackDashboard.css.map */