.sample-pack-dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 91vw;
  margin-left: 9vw;
  height: 100vh;
  margin-top: 6vh;
  background-color: #EEF0F2;
}

.sample-pack-dashboard .carousel-container {
  width: 100%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sample-pack-dashboard .carousel-container .carousel {
  width: 60%;
  height: 20vh;
  background-color: blue;
  margin: auto;
}

.sample-pack-dashboard .sample-pack-nav .row-title {
  margin-left: 300px;
  font-size: 1rem;
}

.sample-pack-dashboard .sample-pack-display {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sample-pack-dashboard .sample-pack-display .sample-pack-container {
  height: 240px;
  width: 200px;
  margin: 10px 10px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.205) 4px 4px 7px;
          box-shadow: rgba(0, 0, 0, 0.205) 4px 4px 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #dfdfdf;
}

.sample-pack-dashboard .sample-pack-display .sample-pack-container .img-container {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sample-pack-dashboard .sample-pack-display .sample-pack-container .img-container .sample-pack-img {
  width: 9vw;
  height: 13vh;
  border-radius: 4px;
  margin: auto;
}

.sample-pack-dashboard .sample-pack-display .sample-pack-container .sample-pack-name-container {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sample-pack-dashboard .sample-pack-display .sample-pack-container .sample-pack-name-container .sample-pack-name {
  font-size: 1rem;
  text-decoration: none;
  color: black;
  margin: auto;
}

.sample-pack-dashboard .sample-pack-display .sample-pack-container .sample-pack-name-container .sample-pack-name:hover {
  cursor: pointer;
}
/*# sourceMappingURL=SamplePackDashboard.css.map */